<div class="appframe">

  <h3>Angular LPIC-1 LCE APP (Project in DO3)</h3>

  <div class="row">

    <div class="col">
      <button type="button" class="btn btn-outline-primary" routerLink="/main">
        Home
      </button>
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
          Learning Mode
        </button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				<button ngbDropdownItem routerLink="/learn">Question List (multiple choice) ia</button>
				<button ngbDropdownItem>Question List (all) nok</button>
				<button ngbDropdownItem>Question List (fill in) nok</button>
				<button ngbDropdownItem>Question List (single choice) nok</button>
				<button ngbDropdownItem>Single Question Mode nok</button>
				<!-- <button ngbDropdownItem>Something else is here</button> -->
			</div>
		</div>
	</div>

	<div class="col text-end">
    <div ngbDropdown placement="top-end" class="d-inline-block">
      <button type="button" class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Aufgabenstellung</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic2">
        <button ngbDropdownItem>hier geht's dahin nok</button>
				<!-- <button ngbDropdownItem>Another Action</button>
          <button ngbDropdownItem>Something else is here</button> -->
        </div>
      </div>
    </div>
  </div>

  <hr>
  <router-outlet></router-outlet>
  <hr>

  <h6>Author: antonius ehlen        2024 01 30</h6>

</div>
