<div class="appframe">

  <h3>Angular LPIC-1 LCE APP (Project in DO3)</h3>

  <div class="row">

    <div class="col">
      <button type="button" class="btn btn-outline-primary" routerLink="/main">
        Home
      </button>
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-primary" id="learnDropDown" ngbDropdownToggle>
          Learning Mode
        </button>
        <div ngbDropdownMenu aria-labelledby="learnDropDown">
          <button ngbDropdownItem routerLink="/learn/list/mc">Question List MC (list)</button>
          <button ngbDropdownItem routerLink="/learn/one/mc">Question List MC (one)</button>
          <button ngbDropdownItem routerLink="/learn/list/sc">Question List SC (list)</button>
          <button ngbDropdownItem routerLink="/learn/one/sc">Question List SC (one)</button>
          <button ngbDropdownItem routerLink="/learn/list/fi">Question List FI (list)</button>
          <button ngbDropdownItem routerLink="/learn/one/fi">Question List FI (one)</button>
          <button ngbDropdownItem routerLink="/learn/list/all">Question List ALL (list)</button>
        </div>
      </div>
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-secondary" id="checkDropDown" ngbDropdownToggle>
          Check Mode
        </button>
        <div ngbDropdownMenu aria-labelledby="checkDropDown">
          <button ngbDropdownItem routerLink="/check/mc">Question List MC - in arbeit</button>
          <button ngbDropdownItem routerLink="/check/sc">Question List SC - in arbeit</button>
          <button ngbDropdownItem routerLink="/check/fi">Question List FI - in arbeit</button>
          <button ngbDropdownItem routerLink="/check/all">Question List ALL - in arbeit</button>
        </div>
      </div>
    </div>

    <div class="col text-end">
      <div ngbDropdown placement="top-end" class="d-inline-block">
        <button type="button" class="btn btn-outline-primary" id="dropdownBasic2"
          ngbDropdownToggle>Aufgabenstellung</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
          <button ngbDropdownItem>hier geht's dahin nok</button>
          <!-- <button ngbDropdownItem>Another Action</button>
          <button ngbDropdownItem>Something else is here</button> -->
        </div>
      </div>
    </div>
  </div>

  <hr>
  <router-outlet></router-outlet>
  <hr>

  <h6>Author: antonius ehlen 2024 01 30</h6>

</div>
